.buildlog
.DS_Store
.atom/
.idea
.vscode/
.packages
.pub/
.settings/
build/
packages
.packages
ios/.generated/
pubspec.lock
.flutter-plugins
local.properties
.xcconfig
.gradle
gradle-wrapper.properties
gradlew
gradlew.bat
gradle-wrapper.jar

# Additional runtime that should be ignored
kotlin/
Runner/
test/
web/
.dart_tool/
Flutter/
